.navbar {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.navbar.logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    color: #494949;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #494949;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor: pointer;
}
.Navbar-search-icon{
    position: relative;
}
.Navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}